    
        <div class="ui container">
            <img src="../img/cern_logo_min.png">
            <a class="ui item top">EN-EL | Statistics</a>


            <div id="piquetDropDown" class="ui dropdown item top">
                Piquet
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="../piquet-overview.html" class="item">Piquet Overview</a>
                    <div class="ui divider"></div>
                    <!--<div class="item">ENC Piquet</div>-->
                    <div class="ui dropdown item">
                        <i class="dropdown icon"></i>
                        ENC Piquet
                        <div class="menu">
                            <a class="item" href="../co-piquet.html">RTU Related - Bars</a>
                            <a class="item" href="../co-piquet-rtu-pies.html">RTU Related - Pies</a>
                        </div>
                    </div>

                </div>
            </div>


            <div id="faultsDropDown" class="ui dropdown item top">
                EN-EL Faults
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="../faults.html" class="item">Yearly faults</a>
                    <a href="../faults-month.html" class="item">Monthly faults</a>
                    <div class="ui divider"></div>
                    <a href="../majorfaults-table.html" class="item">Major faults table</a>
                    <a href="../faults-table.html" class="item">Minor faults table</a>
                </div>
            </div>

            <div id="availabilityDropDown" class="ui dropdown item top">
                Availability
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="../rtu-heatmap.html" class="item">RTU Heatmap</a>
                    <div class="ui divider"></div>
                    <a href="../rtu-replacements.html" class="item">RTU Replacements</a>
                    <div class="ui divider"></div>
                    <a href="../wago-downtime.html" class="item">Wago PLC</a>
                    <div class="ui divider"></div>
                    <a href="../rtu-downtime-sps.html" class="item">SPS RTUs</a>
                    <a href="../rtu-downtime-lhc.html" class="item">LHC RTUs</a>
                </div>
            </div>


            <a class="ui item top">Other</a>
            <a class="ui item top">Other</a>


            <div class="right menu">
                <a class="ui item top">Logout</a>
            </div>
        </div>
    